# 제외 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Ee]xternal Assets/
UserSettings/
MemoryCaptures/
.vs/
.idea/
.DS_Store
Thumbs.db
*.md
.claude
*.csproj
*.sln
.plastic/
.vscode

# 패키지/설정 포함
!Packages/
Packages/manifest.json
Packages/packages-lock.json
!ProjectSettings/
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset

# 기본은 전부 무시
Assets/**
# 예외: 코드/씬/프리팹 + .meta만 허용
!Assets/**/*.cs
!Assets/**/*.asmdef
!Assets/**/*.asmref
!Assets/**/*.unity
!Assets/**/*.prefab
!Assets/**/*.meta